input{
    height: 20px;
    width: 300px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    font-family: 'Courier New', Courier, monospace;
}

h2{
    font-family: 'Courier New', Courier, monospace;
}